/* heebbo font */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600&display=swap');
/* rubik font */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}
body{
    font-family: sans-serif;
    background-color: #f2f2f2;
    
}
.font-rubik{
    font-family: 'Rubik', sans-serif;
}
.font-heebo{
    font-family: 'Heebo', sans-serif;
}

.container{
    width: 1200px;
    margin: auto;
}

button.change-mode{
    border: 0;
    background: #ffffff;
    padding: 8px 11px;
    font-size: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fd5325;
    cursor: pointer;
    transition: all .5s ease;
}
button.change-mode:hover{
    background-color: #fd5325;
    color: white;
}
.d-flex{
    display: flex;
    align-items: center;
}
.justify-space-between{
    justify-content: space-between;
}
.clr-red{
    color: #fd5325;
}
.padd-80{
    padding: 80px 0px;
}


header{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    z-index: 1000;
} 
.logo-hide{
    display: none;
}
.logo img{
    width: 100%;
}
button.nav-toggle-btn{
    border: 0;
    background: #ffffff;
    padding: 8px 11px;
    font-size: 25px;
    border-radius: 50%;
    color: #fd5325;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    cursor: pointer;
}
button.nav-toggle-btn:hover{
    background-color: #fd5325;
    color: #ffffff;
}
ul.nav-menu-top{
    list-style: none;
    display: flex;
    align-items: center;
    position: absolute;
    left: 312px;
    transform: scale(1.2);
    transition: .3;
    opacity: 0;
}
ul.nav-menu-top.open{
    opacity: 1;
    transform: scale(1);
}
ul.nav-menu-top li{
    padding-right: 100px;
}
ul.nav-menu-top li i{
    background: #ffffff;
    padding: 10px;
    border-radius: 50%;
    font-size: 18px;
    margin: 0px;
    color: #fd5325;
    transition: .3s;
    z-index: 1000;

}
ul.nav-menu-top li a{
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
}

ul.nav-menu-top li span.hide{
    padding: 8px 10px;
    background: #fd5325;
    color: #f2f2f2;
    position: absolute;
    transform: translate(0);
    top: 50px;
    border-radius: 5px;
    transform: translateY(-45px);
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    opacity: 0;
    transition: .3s;
    z-index: 1000;
    
}

ul.nav-menu-top li span.hide::before{
    content: '';
    width: 15px;
    height: 15px;
    background: #fd5325;
    position: absolute;
    top: -6px;
    left: 22px;
    transform: rotate(45deg);
    z-index: -10;
}

ul.nav-menu-top li:nth-child(2) span.hide::before{
    left: 23px;
}
ul.nav-menu-top li:nth-child(3) span.hide::before{
    left: 33px;
}
ul.nav-menu-top li:nth-child(4) span.hide::before{
    left: 33px;
}
ul.nav-menu-top li:nth-child(5) span.hide::before{
    left: 17px;
}
ul.nav-menu-top li:nth-child(6) span.hide::before{
    left: 32px;
}

ul.nav-menu-top li:last-child{
    padding-right: 0;
}

ul.nav-menu-top li i.fas.fa-user{
    padding: 10px 11px;
}
ul.nav-menu-top li i:hover{
    background: #fd5325;
    color: #ffffff;
}
ul.nav-menu-top li a:hover span.hide{
    transform: translateY(0px);
    opacity: 1;
}
/* Nav End */

/* Section Title */
.main-container{
    padding-top: 30px;
}
.section-title{
    width: 100%;
    text-align: center;
    position: relative;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1.title-bg{
    position: absolute;
    left: 38.8%;
    color: transparent;
    font-size: 60px;
    top: 0;
    opacity: 0.2;
    -webkit-text-stroke: 2px #fd5325;
    z-index: -10;
}
h2.title-main{
    font-size: 35px;
    padding-top: 5px;
    color: #333333;
    z-index: 100;
}
.uppercase{
    text-transform: uppercase;
}
h1.title-bg{
    left: 33%;
}

